{% load static from staticfiles %}

<header class="header">
  <div class="header-topbar">
    <div class="wrapper d-flex">
      <div class="page-brand">
        <a class="link" href="/">
          <img src="{% static "images/rsz_bio2vec_image_small.png" %}" alt="image" />
	  <img src="{% static "images/word_Bio2Vec_Logo_digital_fordarkbackground_small.png"%}"
	       alt="image" style="padding-bottom: 5px;" />
        </a>
      </div>
      <div class="d-flex justify-content-between align-items-center flex-1">
        <!-- START TOP-LEFT TOOLBAR-->
        <ul class="nav navbar-toolbar">
          <li>
            <a class="link" href="{% url 'list-partners' %}"> <span class="brand">Partners</span>
            </a>
          </li>
          <li>
            <a class="link" href="{% url 'publications' %}"> <span class="brand">Publications</span>
            </a>
          </li>
          <li>
            <a class="link" href="{% url 'list-datasets' %}"> <span class="brand">Resources</span>
            </a>
          </li>
          <li>
            <a class="link" href="{% url 'list-news' %}"> <span class="brand">News</span>
            </a>
          </li>
          <li>
            <a class="link" href="{% url 'list-events' %}"> <span class="brand">Events</span>
            </a>
          </li>
          <li>
            <a class="link" href="{% url 'about' %}"> <span class="brand">About</span>
            </a>
          </li>
	  <li>
            <a class="link" href="{% url 'contacts' %}"> <span class="brand">Contact Us</span>
            </a>
          </li>
	</ul>
	  {% if user.is_authenticated %}
	<div class="dropdown pull-right">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Account
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    <a class="dropdown-item" href="{% url "list-datasets" %}">My Datasets</a>
	    <a class="dropdown-item" href="{% url "profile" %}">Profile</a>
	    <a class="dropdown-item" href="{% url "account_logout" %}">Logout</a>
	  </div>
	</div>
	{% else %}
	  <ul class="nav navbar-toolbar pull-right">
            <li>
              <a class="link"
	       href="{% url "account_login" %}"> <span class="brand">Login</span>
              </a>
            </li>
            <li>
	      <a class="link"
		 href="{% url "account_signup" %}"> <span class="brand">Register</span>
              </a>
	    </li>
	  </ul>
	{% endif %}
	<!-- END TOP-LEFT TOOLBAR-->
	<!-- START NavigationL-->
      </div>
    </div>
  </div>
</header>
