{% extends "base.html" %}

{% block content %}
<div class="starter-template">
  <h1>Bio2Vec</h1>
  <p class="lead">Smart data analytics for life sciences.</p>
</div>

<p class="center">
  Bio2Vec aims to develop the methods and infrastructure that allows
  users to integrate and analyze large-scale heterogenous life science
  data. Bio2Vec will generate embeddings from text and knowledge graphs
  to learn representations of proteins, drugs, phenotypes, diseases, and
  interactions. Bio2Vec will also provide a repository of FAIR
  (Findable, Accessible, Interoperable and Reusable) data and models.
</p>
{% endblock %}
